.bannerWrapper {
  background-color: #edb663;
  /* width: 190px; */
  margin-top: 40px;
  height: 800px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-top: 34px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 7px !important;
  padding: 10px;
}
.bannerTop {
  color: #850000;
  font-size: 31px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0px;
}
.bannerTop div {
  animation-name: bannerTopA;
  transform: translateX(-300px);
  animation-duration: 10s; /*1sec actual*/
  /*animation-direction: alternate;*/
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  opacity: 0;
}
.bannerTop div:nth-child(1) {
  animation-delay: 0.2s;
}
.bannerTop div:nth-child(2) {
  animation-delay: 0.4s;
}
.bannerTop div:nth-child(3) {
  animation-delay: 0.6s;
}
.bannerTop span {
  font-size: 39px;
  line-height: 39px;
  font-weight: 700;
}

.bannerTopSub {
  margin-top: 26px;
  color: white;
  width: 143px;
  height: 75px;
  background: linear-gradient(#2b6777, #0a58caed);

  border-bottom-left-radius: 34px;
  border-top-left-radius: 34px;
  padding-left: 22px;
  font-size: 22px;
  line-height: 22px;
  display: flex;
  box-sizing: border-box;
  align-self: flex-end;

  animation-name: bannerTopSubA;
  transform: translateX(300px);
  /*animation-delay: 3s; /*disappears at 7.5s*/
  animation-duration: 10s; /*delay till 3sec/ 3.7sec full duration, actual duartion - 0.8s(21.6%)*/ /*disappears at 7.5s*/
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  opacity: 0;
}
.bannerTopSub div {
  margin: auto;
  margin-left: 0;
}
.bannerTopSub span {
  font-size: 34px;
  line-height: 34px;
}

.bannerPicture {
  margin-top: 45px;
  background: url("/bannnerpic2.png");
  width: 200px;
  height: 333px;
  background-position: center;
  background-size: cover;
  animation-name: bannerTruckA;
  transform: translateX(300px);
  /*animation-delay: 3.1s; /*disappears at 9*/
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.bannerGuarantee {
  margin-top: 40px;
  color: black;
  display: flex;
  line-height: 1;
  align-self: center;
}
.bannerLike {
  width: 92px;
  height: 47px;
  background-image: url("/like.png") !important;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  z-index: 999;
  margin-right: 9px;
  animation-name: bannerLikeA;
  animation-iteration-count: infinite;
  transform: translateY(300px);
  animation-duration: 10s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.guaranteeLine {
  animation-name: bannerGuaranteeLineA;
  animation-iteration-count: infinite;
  transform: translateX(300px);
  animation-duration: 10s; /*delay is 3 sec, actual duration 0.8s. disappears at 7 same way it appeared*/
  animation-fill-mode: forwards;
  opacity: 0;
}
.guaranteeLine:nth-child(1) {
  animation-delay: 0.15s;
}
.guaranteeLine:nth-child(2) {
  animation-delay: 0.2s;
}
.guaranteeLine:nth-child(3) {
  animation-delay: 0.25s;
}

.bannerBottom {
  margin-top: 46px;
  align-self: center;
}
.rentNow {
  background: linear-gradient(#2b6777, #0a58caed);
  color: white;
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 8px !important;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
  animation-name: bannerRentNowA;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes bannerTopA {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  10% {
    transform: translateX(0px);
    opacity: 1;
  }
  90% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-300px);
    opacity: 0;
  }
}
@keyframes bannerTopSubA {
  /*delay till 3sec/ 3.8sec full duration, actual duartion - 0.8s*/ /*disappears at 7.5s*/
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  30% {
    transform: translateX(300px);
    opacity: 0;
  }
  38% {
    transform: translateX(0px);
    opacity: 1;
  }
  75% {
    transform: translateX(0px);
    opacity: 1;
  }
  83% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(300px);
    opacity: 0;
  }
}
@keyframes bannerTruckA {
  /*3.1s - starts, 3.9 - actual animation ended disappears at 9*/
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  31% {
    transform: translateX(300px);
    opacity: 0;
  }
  39% {
    transform: translateX(0px);
    opacity: 1;
  }
  90% {
    transform: translateX(0px);
    opacity: 1;
  }
  92% {
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}
@keyframes bannerLikeA {
  /*delay 3.6s, actual duration 0.3s, starts disappearing at 7 same way it appeared*/
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  36% {
    transform: translateY(300px);
    opacity: 0;
  }
  39% {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    transform: translateY(0px);
    opacity: 1;
  }
  73% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(300px);
    opacity: 0;
  }
}
@keyframes bannerGuaranteeLineA {
  /*delay is 3 sec, actual duration 0.8s. disappears at 7 same way it appeared*/
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  30% {
    transform: translateX(300px);
    opacity: 0;
  }
  38% {
    transform: translateX(0px);
    opacity: 1;
  }
  70% {
    transform: translateX(0px);
    opacity: 1;
  }
  78% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(300px);
    opacity: 0;
  }
}
@keyframes bannerRentNowA {
  /*delay 3.2s, actual: 1.3s, starts disapp at 6s*/
  0% {
    opacity: 0;
  }
  32% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  38% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.firstLine {
  font-size: 24px;
  font-weight: 300;
}
.secondLine {
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
}
.thirdLine {
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
}
.fourthLine {
  font-size: 12px;
  font-weight: 300;
  position: relative;
  top: -10px;
}

.badges {
  padding: 25px;
  position: relative;
  margin: 140px auto;
  width: 200px;
  height: 200px;
  background: #552f87;
  border-radius: 100% !important;
  color: #fff;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  -webkit-animation: 3s ease-in-out 0s normal none infinite running swing;
  -moz-animation: 3s ease-in-out 0s normal none infinite running swing;
  -o-animation: 3s ease-in-out 0s normal none infinite running swing;
  animation: 3s ease-in-out 0s normal none infinite running swing;
  -webkit-transform-origin: 100px -71px;
  -moz-transform-origin: 100px -71px;
  -o-transform-origin: 100px -71px;
  transform-origin: 100px -71px;
}
.badges:before {
  content: "";
  position: absolute;
  top: 90px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-box-shadow: 0px -82px 0px -2px #fff, 0px -100px #552f87,
    20px -98px #552f87, 39px -94px #552f87, 56px -85px #552f87,
    71px -72px #552f87, 83px -57px #552f87, 93px -40px #552f87,
    98px -20px #552f87, 100px 0px #552f87, -20px -98px #552f87,
    -39px -94px #552f87, -71px -72px #552f87, -56px -85px #552f87,
    -83px -57px #552f87, -93px -40px #552f87, -98px -20px #552f87,
    -100px 0px #552f87, 0px 100px #552f87, -20px 98px #552f87,
    -39px 94px #552f87, -56px 85px #552f87, -71px 72px #552f87,
    -83px 57px #552f87, -93px -40px #552f87, -98px 20px #552f87,
    -93px 40px #552f87, 20px 98px #552f87, 39px 94px #552f87, 56px 85px #552f87,
    71px 72px #552f87, 83px 57px #552f87, 93px 40px #552f87, 98px 20px #552f87;

  -moz-box-shadow: 0px -82px 0px -2px #fff, 0px -100px #552f87,
    20px -98px #552f87, 39px -94px #552f87, 56px -85px #552f87,
    71px -72px #552f87, 83px -57px #552f87, 93px -40px #552f87,
    98px -20px #552f87, 100px 0px #552f87, -20px -98px #552f87,
    -39px -94px #552f87, -71px -72px #552f87, -56px -85px #552f87,
    -83px -57px #552f87, -93px -40px #552f87, -98px -20px #552f87,
    -100px 0px #552f87, 0px 100px #552f87, -20px 98px #552f87,
    -39px 94px #552f87, -56px 85px #552f87, -71px 72px #552f87,
    -83px 57px #552f87, -93px -40px #552f87, -98px 20px #552f87,
    -93px 40px #552f87, 20px 98px #552f87, 39px 94px #552f87, 56px 85px #552f87,
    71px 72px #552f87, 83px 57px #552f87, 93px 40px #552f87, 98px 20px #552f87;

  -o-box-shadow: 0px -82px 0px -2px #fff, 0px -100px #552f87, 20px -98px #552f87,
    39px -94px #552f87, 56px -85px #552f87, 71px -72px #552f87,
    83px -57px #552f87, 93px -40px #552f87, 98px -20px #552f87,
    100px 0px #552f87, -20px -98px #552f87, -39px -94px #552f87,
    -71px -72px #552f87, -56px -85px #552f87, -83px -57px #552f87,
    -93px -40px #552f87, -98px -20px #552f87, -100px 0px #552f87,
    0px 100px #552f87, -20px 98px #552f87, -39px 94px #552f87,
    -56px 85px #552f87, -71px 72px #552f87, -83px 57px #552f87,
    -93px -40px #552f87, -98px 20px #552f87, -93px 40px #552f87,
    20px 98px #552f87, 39px 94px #552f87, 56px 85px #552f87, 71px 72px #552f87,
    83px 57px #552f87, 93px 40px #552f87, 98px 20px #552f87;

  box-shadow: 0px -82px 0px -2px #fff, 0px -100px #552f87, 20px -98px #552f87,
    39px -94px #552f87, 56px -85px #552f87, 71px -72px #552f87,
    83px -57px #552f87, 93px -40px #552f87, 98px -20px #552f87,
    100px 0px #552f87, -20px -98px #552f87, -39px -94px #552f87,
    -71px -72px #552f87, -56px -85px #552f87, -83px -57px #552f87,
    -93px -40px #552f87, -98px -20px #552f87, -100px 0px #552f87,
    0px 100px #552f87, -20px 98px #552f87, -39px 94px #552f87,
    -56px 85px #552f87, -71px 72px #552f87, -83px 57px #552f87,
    -93px -40px #552f87, -98px 20px #552f87, -93px 40px #552f87,
    20px 98px #552f87, 39px 94px #552f87, 56px 85px #552f87, 71px 72px #552f87,
    83px 57px #552f87, 93px 40px #552f87, 98px 20px #552f87;
}
.badges:after {
  content: "";
  position: absolute;
  top: -70px;
  left: 99px;
  width: 2px;
  height: 81px;
  border-radius: 0%;
  background: #000;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
  }
}
@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(5deg);
  }
  50% {
    -moz-transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(5deg);
  }
}
@-o-keyframes swing {
  0% {
    -o-transform: rotate(5deg);
  }
  50% {
    -o-transform: rotate(-5deg);
  }
  100% {
    -o-transform: rotate(5deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.a {
  text-decoration: none;
}
